/* Body - General Styling To Be Used Anywhere On The Site*/


body {
	margin: 0px 17%; 
	font-family: "Lato", "Verdana", sans-serif;
    font-size:1vw;
}

p {
    text-align: justify;
	font-size: 18px;
}

a:hover {
    color: #BB370A;
}

i {
	margin: 0px 7.5px;
	color: #000000;
}

i:hover {
	color: #BB370A
}


embed {
    margin-top: 5px; 
}


li {
	margin: 0;
	padding: 0;
}

ul li li {
	margin-bottom: -5px;
}



/* Name - styling for name */

#name {
	text-align: center;
	font-size: 35px;
	margin: 3% 0% 0% 1%;
	font-family: "Libre Baskerville", Garamond, serif;
	color: #353535 !important;
	text-decoration: none;
}

#name a {
	color: #353535 !important;
	text-decoration: none;
}

#name a:visited {
	text-decoration: none;
}

#name a:hover {
	text-decoration: none;
}

#name a:active {
	text-decoration: none;
}




/* Headings - Defined Font Styles for Headings */


h1 {
    font-size: 24px;
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 45px;
}

h2 {
	font-size: 16px;
}

h3 {
    font-size: 14px;
    text-align: left;
}

h4 {
    font-size: 24px;
    display: block;
    text-align: center;
    margin-bottom: 0px;
    
}

h5 { 
    font-size: 18px;
    font-weight: 100;
    color: gray;
    display: block;
    text-align: center;
    margin-top: 5px;
}

h6 {
    text-align: center;
    font-size: 20px;
    margin: 0px;
    padding-top: 20px;
}


/* Highlighting - Defines highlighter color and animation */


mark {
  background-color: none;
  background: linear-gradient(90deg, #C7A4D8 50%, rgba(255, 255, 255, 0) 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
}

@-webkit-keyframes highlight {
  to {
    background-position: 0 0;
  }
}

@keyframes highlight {
  to {
    background-position: 0 0;
  }
}

.show {
-webkit-animation: 0.5s highlight 0.5s 1 normal forwards;
	  animation: 0.5s highlight 0.5s 1 normal forwards;
    opacity: 1;
}



/* Navigation - Defines the Navigation For Each Page*/
.nav {
	list-style-type: none;
	font-weight: bold;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: "Source Sans Pro", "Verdana", sans-serif;
	font-size: 18px;
	text-align: center;
    margin-bottom: 5%;
}

.nav li {
	display: inline-block;
}

li a {
	display: block;
	text-align: center;
	padding: 10px 25px 0px;
	color: #808080;
	text-decoration: none;
}

li a, .drop {
	display: block;
	color: #808080;
	text-align: center;
	text-decoration: none;
}

#home .home, #cv .cv, #nsf .nsf, #poster .poster, #phd-admissions .phd-admissions {
	color: #333300;
    cursor: text;
    pointer-events: none;
}

a:hover .active  {
    color: #333300;
}

.nav li a:hover, .dropdown:hover .drop {
	color: #BB370A;
}

.nav li.dropdown {
	display: inline-block;
}

.dropdown-list {
	display: none;
	position: absolute;
	min-width: 160px;
	z-index: 1;
	background-color: #FFFFFF;
    padding-bottom: 10px;
}

.dropdown-list a{
	display: block;
	text-align: left;
}

.dropdown:hover .dropdown-list {
	display: block;
}


@media (max-width: 768px) {
	.nav li {
		display: block;
	}
}


@media (max-width: 400px) {
	.nav li {
		display: block;
	}
}





/* Page Divider */
hr.style { 
    border-top: 0px;
	margin-top: 2.5em;
    margin-bottom: 2.5em;
    margin-left: auto;
    margin-right: auto;
/*     border-width: ; */
}




/* Footer - Defines the Bottom of the Website */

#last {
    margin-bottom: 1em;
}


.footer {
    border-top: 0px;
    color: grey;
    font-size: 10px;
    text-align: right;
    margin-bottom: 2em;
}

#copyright {
    float: left;
    display: inline-block;
}

#update {
    text-align: right;
    display: inline-block;
}






/* iFrame Responsiveness */


@media (max-width: 768px) {
	iframe {
		width: 400px;
		height: 225px;
	}
	
}


@media (max-width: 400px) {
	iframe {
		width: 300px;
		height: 168px;
	}
}




/* Tables - Styling For Tables */
table {
    border-collapse: collapse;
    border-bottom: 2px solid #BB370A;
    border-width: thin;
    width: 100%;
	font-size: 14px;
    
}

table th, table td {
    border-bottom: 1px solid;
    padding: 8px;
    border-collapse: collapse;
    border-color: #BB370A;
    border-width: thin;
}

table th {
    border-bottom: 2px solid;
    border-color: #BB370A;
    text-align: left;
    
}




/* Homepage - Styling Specific to the Front Page*/

.socials {
    text-align: center;
}

#papelpicado {
    max-width: 100%;
}



/* CV - Styling Specific to CV*/

.cv h2 {
	font-size: 16px;
	padding: 0px;

}

.cv li {
	color: #353535;
	font-size: 14px;
	padding-bottom: 5px;
}





/* External Resources - Styling Specific to External Resources Page*/

.resources {
	font-size: 12px;
	text-align: left;
}

.resources a {
	text-align: left;	
	margin-left: -2em;
	font-weight: bold;
}


.resources .row:after {
  content: "";
  display: table;
  clear: both;
}

.resources .column {
	float: left;
	width: 33.33%;
}

@media screen and (max-width: 768px) {
  .resources .column {
    width: 100%;
  }
}







/* Poster Presentation Advice - Styling Specific to the Poster Page*/

#posterhead {
    max-width: 100%;
    max-height: 100%;
}
#flow {
    float: right;
    margin-left: 10px;
    max-width: 100%;
    max-height: 100%;
}

.stack {
  display: block;
  float: left;
  margin-right: 10px;
}

.thesis {
    display: block;
    margin-bottom: 5px;
    max-width: 100%;
    max-height: 100%;
}
.bruce {
  display: block;
}

#thesis {
    object-fit: cover;
    max-height: 100%;
    max-width: 100%;
}






/* NSF - Styling Specific to the NSF Page */
#nsfproposal {
    align-items: left;
}

#nsfsop {
    align-items: right;
}


.nsfp {
    float: left;
}

.nsfreview th {
    text-align: center;
    padding: 10px 20px;
}